<h1><span class="badge badge-pill badge-info">My Goals</span></h1>
<div class="container" id="body">
    <div class="container">
        <div class="name">
            <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
        </div>
    </div>
    
    <div class="container" id="name">
            <div class="nme" *ngFor='let goal of goals;let i = index'>
    
                <div class="row">
                    <ul>
                        <li><h6 id="{{i}}" appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h6> </li>
                        <button class="btn btn-primary"(click)='toogleDetails(i)'>Toogle Details</button>
                    </ul>
                </div>
            
                <div class="row" *ngIf="goal.showDescription">
                    <app-goal-details [goal]='goal' (isComplete)='deleteGoal($event, i)'></app-goal-details>
                </div>
    
            </div>
    </div>
    
</div>



